.bg-primary {
    background-color:  var(--primary);
}

.text-primary {
    color:  var(--primary);
}

.bg-danger {
    background-color:  var(--danger);
}

.text-danger {
    color:  var(--danger);
}

.bg-success {
    background-color:  var(--success);
}

.text-success {
    color:  var(--success);
}

.bg-info {
    background-color:  var(--info);
}

.text-info {
    color:  var(--info);
}

.bg-warning {
    background-color:  var(--warning);
}

.text-warning {
    color:  var(--warning);
}

.bg-secondary {
    background-color:  var(--secondary);
}

.text-secondary {
    color:  var(--secondary);
}

.text-white {
    color:  var(--white);
}

.text-dark {
    color:  var(--dark);
}

.text-black {
    color:  var(--black);
}

.bg-white {
    background-color:  var(--white);
}

.bg-dark {
    background-color:  var(--dark);
}

.bg-black {
    background-color:  var(--black);
}